.icon-measure:before {
	content: "\f080";
}
.icon-user:before {
	content: "\f007";
}
#login {
	padding: 60px 0 !important;
	margin-top: 0 !important;
}

#login .inner {
	margin: 0 auto !important;
}
.widget-head .buttons a {
	margin-left: 15px;
}

.table-responsive tr.failed {
	background-color: #FFD1D0 !important;
}