.icon-measure:before {
	content: "\f080";
}
.icon-user:before {
	content: "\f007";
}
#login {
	padding: 60px 0 !important;
	margin-top: 0 !important;
}

#login .inner {
	margin: 0 auto !important;
}
.widget-head .buttons a {
	margin-left: 15px;
}

.table-responsive tr.failed {
	background-color: #FFD1D0 !important;
}

.table-responsive tr.HIGH {
	background-color: #FFD1D0 !important;
}

.table-responsive tr.MEDIUM {
	background-color: #F0E7A6 !important;
}

.dataTables_paginate {
	height: 100%;
}
.data-table-container .col-sm-12 {
	padding: 0;
	overflow: auto;
}